.nav-bar{
    background-color: blue;
    text-align: center;
    padding: 10px 0;
    font-weight: 500;
}
.nav-bar a{
    color: #fff;
    padding: 10px 0;
    text-decoration: none;
    font-size: 30px;
}